[submodule "audio-fe"]
	path = audio-fe
	url = git@github.com:valeriopuglisi/audio-fe.git
[submodule "audio-be"]
	path = audio-be
	url = git@github.com:valeriopuglisi/audio-be.git
[submodule "deep-audio-analyzer-tests"]
	path = deep-audio-analyzer-tests
	url = git@github.com:valeriopuglisi/deep-audio-analyzer-tests.git
